.block-1{
    padding-left: -300px;
}
body{
    font-family: arial;
    margin:0;
    padding: 20px;
    background-color: #dbd5d5;
}
*{
    box-sizing:border-box;
}
.left-column img{
    height: 620px;
}
.right-column .card img{
    margin-bottom: 10px;
}
h2{
    color: #000000;

}
footer{
    background-color: #9e9d9d;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    
}
header{
    background-color: #b4b1b1;
    padding: 30px;
}
header h1{
    text-align: center;
    font-size: 60px;
    color: #000000;
    margin: 1.5 0px;
}
.left-column{
    float: left;
    width:75%;
}
.right-column{
    width:25%;
    float: right;
    padding-left:20px ;
}
.card{
    padding:20px;
    background-color:rgb(222, 229, 238);
    margin-top:20px
}
@media(max-width:800px){
    .left-column,.right-column{
        
    }
}